@import url('https://fonts.googleapis.com/css?family=Armata|Assistant:300,400|BenchNine|Fira+Sans');

$text_body: 'Assistant';
$menu: 'BenchNine';
$titles: 'Fira Sans Condensed';
$numbers: 'Armata';

$blue_light: #3399ED;
$blue_dark: #193144;

$height-3: 30vh;

