@import 'fonts_colors';
@import 'bootstrap-grid.css';

body{
	font-family: $text_body;
	font-weight: 300;
	overflow-x: hidden;
}
h1{
	color: $blue_light;
	font-family: $text_body;
	font-weight: 400;
}
.banner_1{
	background: $blue_dark;
	height: 80vh;
}
.item-slide{
	position: relative;
	top: 35%;
}
.ti{
	width: 50%;
	position: relative;
	float: letf;
}
.left{
	position: relative;
	float: left;
}
.h30{
	height: $height-3;
}
.not-padd{
	padding: 0px;
}
.img-numbers{
	width:100%;
}